*, *::after {
    box-sizing: border-box;
    font-family: system-ui, -apple-system, BlinkMacSystemFont,'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 100%;
    margin: 0;
    padding: 0;
}
